@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0');
@import "root.css";
/*
    POST-RENDER CLASSES

    .s-w16 {}
*/

body {
    margin: var(--body-margin);
    transition: var(--universal-transition-time);
    opacity: 0;
}

/* TABLES */

table {
    box-shadow: var(--card-shadow);
    border-radius: var(--corner-radius);
    margin-bottom: var(--component-margin);
    margin-right: var(--component-margin);

    border-collapse: collapse;
    overflow: hidden;
}

table tr:nth-of-type(1)>th {
    background-color: var(--accent-color);
    color: var(--accent-font-color);
    padding: var(--universal-padding);
}

table th {
    position: relative;
    background-color: var(--border-color);
    border-color: var(--background-color);
    padding: var(--universal-padding);
}

table th span {
    color: var(--accent-font-color) !important;
}

table td {
    position: relative;
    border-right: var(--border-color) solid 2px;
    border-bottom: var(--border-color) solid 2px;
    padding: var(--universal-padding);
}

th:hover {
    transition: var(--universal-transition-time);
    filter: var(--hover-brightness);
}

table td:last-child,
th:last-child {
    border-right: none;
    border-right: none;
}

table tr:last-child>td {
    border-bottom: none;
}

/* IMAGE CARD */

img {
    object-fit: cover;
    border-radius: var(--corner-radius);
    box-shadow: var(--card-shadow);
    margin-right: var(--component-margin);
    margin-bottom: var(--component-margin);
}

/* DIVS */

div {
    box-shadow: var(--card-shadow);
    border-radius: var(--corner-radius);
    padding: var(--universal-padding);

    margin-bottom: var(--component-margin);
    margin-right: var(--component-margin);
}

/* SPECIAL COMPONENTS */

.cost-card {
    width: 32.45%;
}

.cost-card-wide {
    width: 49.375%;
}

.w1024 > .cost-card{
    width: 31.3%;
}