@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0");
@import "theme.css";

.sidebar-wrapper {
    position: absolute;
    width: 256px;
    height: 100%;
}

.sidebar {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
}

.shadow {
    box-shadow: var(--card-shadow);
}

.badge {
    background-image: var(--badge);
    background-size: contain;
    border-radius: var(--badge-radius);
    overflow: hidden;

    width: 192px;
    height: 192px;
}

.icon {
    font-family: 'Material Symbols Rounded';
}

.accent-1 {
    background-color: var(--accent-color);
    color: var(--accent-font-color);
}

.accent-2 {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.rounded {
    border-radius: var(--corner-radius);
}

.no-shadow {
    box-shadow: none;
}

.header {
    font-weight: 700;
}

.opacity-0p9 {
    opacity: 0.9;
}

.opacity-0p75 {
    opacity: 0.75;
}

.opacity-0p5 {
    opacity: 0.5;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* TEXT */

.f8 {
    font-size: 8px;
}

.f12 {
    font-size: 12px;
}

.f16 {
    font-size: 16px;
}

.f20 {
    font-size: 20px;
}

.f24 {
    font-size: 24px;
}

.f32 {
    font-size: 32px;
}

.f48 {
    font-size: 48px;
}


/* SIZE/POSITION */
.clear-float {
    clear: both;
}

.align-left {
    align-items: left;
}

.relative {
    position: relative;
}

.block {
    display: block;
}

.t-left {
    text-align: left !important;
}

.t-top {
    vertical-align: top;
}

.z-99 {
    z-index: 99;
}

.z-1 {
    z-index: 1;
}

.float-container {
    float: left;
}

.no-float {
    float: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex-container {
    display: flex;
    text-align: center;
    align-items: center;
    column-gap: var(--component-margin);
}

.no-gap {
    column-gap: 0px !important;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.half-height {
    height: 50%;
}

.half-width {
    width: 50%;
}

.flex-4 {
    flex: 4;
}

.h16 {
    height: 16px;
}

.h32 {
    height: 32px;
}

.h48 {
    height: 48px;
}

.h64 {
    height: 64px;
}

.h80 {
    height: 80px;
}

.h96 {
    height: 96px;
}

.h112 {
    height: 112px;
}

.h128 {
    height: 128px;
}

.h144 {
    height: 144px;
}

.h160 {
    height: 160px;
}

.h176 {
    height: 176px;
}

.h192 {
    height: 192px;
}

.h208 {
    height: 208px;
}

.h224 {
    height: 224px;
}

.h240 {
    height: 240px;
}

.h256 {
    height: 256px;
}

.h272 {
    height: 272px;
}

.h288 {
    height: 288px;
}

.h304 {
    height: 304px;
}

.h320 {
    height: 320px;
}

.h336 {
    height: 336px;
}

.h352 {
    height: 352px;
}

.h368 {
    height: 368px;
}

.h384 {
    height: 384px;
}

.h400 {
    height: 400px;
}

.h416 {
    height: 416px;
}

.h432 {
    height: 432px;
}

.h448 {
    height: 448px;
}

.h464 {
    height: 464px;
}

.h480 {
    height: 480px;
}

.h496 {
    height: 496px;
}

.h512 {
    height: 512px;
}

.h528 {
    height: 528px;
}

.h544 {
    height: 544px;
}

.h560 {
    height: 560px;
}

.h576 {
    height: 576px;
}

.h592 {
    height: 592px;
}

.h608 {
    height: 608px;
}

.h624 {
    height: 624px;
}

.h640 {
    height: 640px;
}

.h656 {
    height: 656px;
}

.h672 {
    height: 672px;
}

.h688 {
    height: 688px;
}

.h704 {
    height: 704px;
}

.h720 {
    height: 720px;
}

.h736 {
    height: 736px;
}

.h752 {
    height: 752px;
}

.h768 {
    height: 768px;
}

.h784 {
    height: 784px;
}

.h800 {
    height: 800px;
}

.h816 {
    height: 816px;
}

.h832 {
    height: 832px;
}

.h848 {
    height: 848px;
}

.h864 {
    height: 864px;
}

.h880 {
    height: 880px;
}

.h896 {
    height: 896px;
}

.h912 {
    height: 912px;
}

.h928 {
    height: 928px;
}

.h944 {
    height: 944px;
}

.h960 {
    height: 960px;
}

.h976 {
    height: 976px;
}

.h992 {
    height: 992px;
}

.h1008 {
    height: 1008px;
}

.h1024 {
    height: 1024px;
}

.h1040 {
    height: 1040px;
}

.h1056 {
    height: 1056px;
}

.h1072 {
    height: 1072px;
}

.h1088 {
    height: 1088px;
}

.h1104 {
    height: 1104px;
}

.h1120 {
    height: 1120px;
}

.h1136 {
    height: 1136px;
}

.h1152 {
    height: 1152px;
}

.h1168 {
    height: 1168px;
}

.h1184 {
    height: 1184px;
}

.h1200 {
    height: 1200px;
}

.h1216 {
    height: 1216px;
}

.h1232 {
    height: 1232px;
}

.h1248 {
    height: 1248px;
}

.h1264 {
    height: 1264px;
}

.h1280 {
    height: 1280px;
}

.h1296 {
    height: 1296px;
}

.h1312 {
    height: 1312px;
}

.h1328 {
    height: 1328px;
}

.h1344 {
    height: 1344px;
}

.h1360 {
    height: 1360px;
}

.h1376 {
    height: 1376px;
}

.h1392 {
    height: 1392px;
}

.h1408 {
    height: 1408px;
}

.h1424 {
    height: 1424px;
}

.h1440 {
    height: 1440px;
}

.h1456 {
    height: 1456px;
}

.h1472 {
    height: 1472px;
}

.h1488 {
    height: 1488px;
}

.h1504 {
    height: 1504px;
}

.h1520 {
    height: 1520px;
}

.h1536 {
    height: 1536px;
}

.h1552 {
    height: 1552px;
}

.h1568 {
    height: 1568px;
}

.h1584 {
    height: 1584px;
}

.h1600 {
    height: 1600px;
}

.h1616 {
    height: 1616px;
}

.h1632 {
    height: 1632px;
}

.h1648 {
    height: 1648px;
}

.h1664 {
    height: 1664px;
}

.h1680 {
    height: 1680px;
}

.h1696 {
    height: 1696px;
}

.h1712 {
    height: 1712px;
}

.h1728 {
    height: 1728px;
}

.h1744 {
    height: 1744px;
}

.h1760 {
    height: 1760px;
}

.h1776 {
    height: 1776px;
}

.h1792 {
    height: 1792px;
}

.h1808 {
    height: 1808px;
}

.h1824 {
    height: 1824px;
}

.h1840 {
    height: 1840px;
}

.h1856 {
    height: 1856px;
}

.h1872 {
    height: 1872px;
}

.h1888 {
    height: 1888px;
}

.h1904 {
    height: 1904px;
}

.h1920 {
    height: 1920px;
}

.h1936 {
    height: 1936px;
}

.h1952 {
    height: 1952px;
}

.h1968 {
    height: 1968px;
}

.h1984 {
    height: 1984px;
}

.h2000 {
    height: 2000px;
}

.h2016 {
    height: 2016px;
}

.h2032 {
    height: 2032px;
}

.h2048 {
    height: 2048px;
}

.h25p {
    height: 25%;
}

.h50p {
    height: 50%;
}

.h75p {
    height: 75%;
}

.h100p {
    height: 100%;
}

.w16 {
    width: 16px;
}

.w32 {
    width: 32px;
}

.w48 {
    width: 48px;
}

.w64 {
    width: 64px;
}

.w80 {
    width: 80px;
}

.w96 {
    width: 96px;
}

.w112 {
    width: 112px;
}

.w128 {
    width: 128px;
}

.w144 {
    width: 144px;
}

.w160 {
    width: 160px;
}

.w176 {
    width: 176px;
}

.w192 {
    width: 192px;
}

.w208 {
    width: 208px;
}

.w224 {
    width: 224px;
}

.w240 {
    width: 240px;
}

.w256 {
    width: 256px;
}

.w272 {
    width: 272px;
}

.w288 {
    width: 288px;
}

.w304 {
    width: 304px;
}

.w320 {
    width: 320px;
}

.w336 {
    width: 336px;
}

.w352 {
    width: 352px;
}

.w368 {
    width: 368px;
}

.w384 {
    width: 384px;
}

.w400 {
    width: 400px;
}

.w416 {
    width: 416px;
}

.w432 {
    width: 432px;
}

.w448 {
    width: 448px;
}

.w464 {
    width: 464px;
}

.w480 {
    width: 480px;
}

.w496 {
    width: 496px;
}

.w512 {
    width: 512px;
}

.w528 {
    width: 528px;
}

.w544 {
    width: 544px;
}

.w560 {
    width: 560px;
}

.w576 {
    width: 576px;
}

.w592 {
    width: 592px;
}

.w608 {
    width: 608px;
}

.w624 {
    width: 624px;
}

.w640 {
    width: 640px;
}

.w656 {
    width: 656px;
}

.w672 {
    width: 672px;
}

.w688 {
    width: 688px;
}

.w704 {
    width: 704px;
}

.w720 {
    width: 720px;
}

.w736 {
    width: 736px;
}

.w752 {
    width: 752px;
}

.w768 {
    width: 768px;
}

.w784 {
    width: 784px;
}

.w800 {
    width: 800px;
}

.w816 {
    width: 816px;
}

.w832 {
    width: 832px;
}

.w848 {
    width: 848px;
}

.w864 {
    width: 864px;
}

.w880 {
    width: 880px;
}

.w896 {
    width: 896px;
}

.w912 {
    width: 912px;
}

.w928 {
    width: 928px;
}

.w944 {
    width: 944px;
}

.w960 {
    width: 960px;
}

.w976 {
    width: 976px;
}

.w992 {
    width: 992px;
}

.w1008 {
    width: 1008px;
}

.w1024 {
    width: 1024px;
}

.w1040 {
    width: 1040px;
}

.w1056 {
    width: 1056px;
}

.w1072 {
    width: 1072px;
}

.w1088 {
    width: 1088px;
}

.w1104 {
    width: 1104px;
}

.w1120 {
    width: 1120px;
}

.w1136 {
    width: 1136px;
}

.w1152 {
    width: 1152px;
}

.w1168 {
    width: 1168px;
}

.w1184 {
    width: 1184px;
}

.w1200 {
    width: 1200px;
}

.w1216 {
    width: 1216px;
}

.w1232 {
    width: 1232px;
}

.w1248 {
    width: 1248px;
}

.w1264 {
    width: 1264px;
}

.w1280 {
    width: 1280px;
}

.w1296 {
    width: 1296px;
}

.w1312 {
    width: 1312px;
}

.w1328 {
    width: 1328px;
}

.w1344 {
    width: 1344px;
}

.w1360 {
    width: 1360px;
}

.w1376 {
    width: 1376px;
}

.w1392 {
    width: 1392px;
}

.w1408 {
    width: 1408px;
}

.w1424 {
    width: 1424px;
}

.w1440 {
    width: 1440px;
}

.w1456 {
    width: 1456px;
}

.w1472 {
    width: 1472px;
}

.w1488 {
    width: 1488px;
}

.w1504 {
    width: 1504px;
}

.w1520 {
    width: 1520px;
}

.w1536 {
    width: 1536px;
}

.w1552 {
    width: 1552px;
}

.w1568 {
    width: 1568px;
}

.w1584 {
    width: 1584px;
}

.w1600 {
    width: 1600px;
}

.w1616 {
    width: 1616px;
}

.w1632 {
    width: 1632px;
}

.w1648 {
    width: 1648px;
}

.w1664 {
    width: 1664px;
}

.w1680 {
    width: 1680px;
}

.w1696 {
    width: 1696px;
}

.w1712 {
    width: 1712px;
}

.w1728 {
    width: 1728px;
}

.w1744 {
    width: 1744px;
}

.w1760 {
    width: 1760px;
}

.w1776 {
    width: 1776px;
}

.w1792 {
    width: 1792px;
}

.w1808 {
    width: 1808px;
}

.w1824 {
    width: 1824px;
}

.w1840 {
    width: 1840px;
}

.w1856 {
    width: 1856px;
}

.w1872 {
    width: 1872px;
}

.w1888 {
    width: 1888px;
}

.w1904 {
    width: 1904px;
}

.w1920 {
    width: 1920px;
}

.w1936 {
    width: 1936px;
}

.w1952 {
    width: 1952px;
}

.w1968 {
    width: 1968px;
}

.w1984 {
    width: 1984px;
}

.w2000 {
    width: 2000px;
}

.w2016 {
    width: 2016px;
}

.w2032 {
    width: 2032px;
}

.w2048 {
    width: 2048px;
}

.w25p {
    width: 25%;
}

.w50p {
    width: 50%;
}

.w75p {
    width: 75%;
}

.w100p {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.no-right-margin {
    margin-right: 0 !important;
}

.no-left-margin {
    margin-left: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-padding {
    padding: 0;
}

.padding-r4 {
    padding-right: 4px;
}

.padding-r8 {
    padding-right: 8px;
}

.padding-l4 {
    padding-left: 4px;
}

.padding-l8 {
    padding-left: 8px;
}


.padding-t8 {
    padding-top: 8px;
}

.padding-t4 {
    padding-top: 4px;
}

.padding-b16 {
    padding-bottom: 8px;
}

.padding-b8 {
    padding-bottom: 8px;
}

.padding-b4 {
    padding-bottom: 4px;
}

.padding-4 {
    padding: 4px;
}

.padding-16 {
    padding: 16px;
}

.padding-32 {
    padding: 32px;
}

.margin-b8 {
    margin-bottom: 8px;
}

.margin-b16 {
    margin-bottom: 16px;
}

.margin-b32 {
    margin-bottom: 32px;
}

.margin-b64 {
    margin-bottom: 64px;
}

.margin-b96 {
    margin-bottom: 96px;
}

.margin-b128 {
    margin-bottom: 128px;
}

.margin-t8 {
    margin-top: 8px;
}

.margin-t16 {
    margin-top: 16px;
}

.margin-t32 {
    margin-top: 32px;
}

.margin-t64 {
    margin-top: 64px;
}

.margin-t96 {
    margin-top: 96px;
}

.margin-t112 {
    margin-top: 122px;
}

.margin-t128 {
    margin-top: 128px;
}

.margin-l384 {
    margin-left: 384px;
}

.margin-l320 {
    margin-left: 320px;
}

.margin-l256 {
    margin-left: 256px;
}

.margin-l64 {
    margin-left: 64px;
}

.margin-l48 {
    margin-left: 48px;
}

.margin-l32 {
    margin-left: 32px;
}

.margin-l16 {
    margin-left: 16px;
}

.margin-l8 {
    margin-left: 8px;
}

.margin-r16 {
    margin-right: 16px;
}

.margin-r8 {
    margin-right: 8px;
}

.margin-r12p5 {
    margin-right: 12.5%;
}

.margin-l12p5 {
    margin-left: 12.5%;
}

.margin-16 {
    margin: 16px;
}

.left-16 {
    left: 16px;
}

.left-256 {
    left: 256px;
}

.top-128 {
    top: 128px;
}

.top-256 {
    top: 256px;
}

.anchor {
    position: absolute;
    bottom: var(--component-margin);
}

.buoy {
    position: absolute;
    top: var(--component-margin);
}

.min-w256 {
    min-width: 256px;
}

.min-h256 {
    min-height: 256px;
}

.min-h512 {
    min-height: 512px;
}

.no-left {
    left: 0;
}

.no-right {
    right: 0;
}

/* INPUTS */

::placeholder {
    color: var(--accent-color);
    opacity: 0.8;
}

input {
    transition: var(--universal-transition-time);
    box-sizing: border-box;
}

input:hover {
    filter: var(--hover-brightness);
}

input[type="text"] {
    font-family: inherit;
    border-radius: var(--corner-radius);
    border-style: var(--border-style);
    border-color: var(--accent-color);
    background-color: var(--background-color);
    color: var(--accent-color);

    padding: calc(var(--universal-padding) / 2) var(--universal-padding) calc(var(--universal-padding) / 2) var(--universal-padding);
}

input[type="text"]:active,
input[type="text"]:focus {
    outline: none;
    border-color: var(--accent-color);
    border-width: 3px;
}

input[type="range"] {
    appearance: none;

    height: var(--slider-height);
    border-radius: var(--corner-radius);
    background-color: var(--accent-color);

    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    height: var(--slider-knob-height);
    width: var(--slider-knob-height);

    border-radius: var(--slider-knob-radius);
    background: var(--accent-color);

    cursor: ew-resize;
}

input[type="range"]:active {
    filter: var(--click-brightness);
}

input[type="range"][variant="vertical"] {
    transform: rotate(-90deg) translate(0px, -3px);
}

input[type="range"][variant="vertical"]::-webkit-slider-thumb {
    cursor: ns-resize !important;
}

input[type=color] {
    cursor: pointer;
    border-width: 2px;
    border-radius: var(--corner-radius);
    border-style: var(--border-style);
    border-color: var(--accent-color);
    background-color: var(--background-color);
}

::-webkit-color-swatch {
    border: none;
    padding: none;
    margin: none;
    border-radius: calc(var(--corner-radius)/2);
}

::-webkit-color-swatch-wrapper {
    padding: none;
}

/* BUTTONS */

button {
    font-family: inherit;
    background-color: var(--background-color);
    color: var(--accent-color);

    border-color: var(--accent-color);
    border-style: var(--border-style);
    border-radius: var(--corner-radius);

    padding: calc(var(--universal-padding) / 2) var(--universal-padding) calc(var(--universal-padding) / 2) var(--universal-padding);

    user-select: none;
    cursor: pointer;

    transition: var(--universal-transition-time);
}

button:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
    opacity: 1;
}

button:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    filter: var(--click-brightness);
}

button[variant="solid"] {
    color: var(--accent-font-color);
    background-color: var(--accent-color);
    box-shadow: var(--card-shadow);
}

button[variant="solid"]:hover {
    filter: var(--hover-brightness);
}

button[variant="solid"]:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    filter: var(--click-brightness);
}

a::after {
    content: "[?]";
    font-size: 10px;
    position: relative;
    bottom: 8;
    left: 2;
    opacity: 0.5;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: var(--hover-brightness);
}

.font-color {
    color: var(--font-color) !important;
}

.no-after::after {
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 16px;
    transition: var(--universal-transition-time);
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: var(--corner-radius);
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
    min-height: 32px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.inset-shadow {
    box-shadow: var(--inset-shadow);
    border-radius: var(--corner-radius);
    overflow: hidden;
}

img {
    object-fit: cover;
    border-radius: var(--corner-radius);
    box-shadow: var(--card-shadow);
}

table {
    box-shadow: var(--card-shadow);
    border-radius: var(--corner-radius);

    border-collapse: collapse;
    overflow: hidden;
}

table tr:nth-of-type(1)>th {
    background-color: var(--accent-color);
    color: var(--accent-font-color);
    padding: var(--universal-padding);
}

table th {
    position: relative;
    background-color: var(--border-color);
    border-color: var(--background-color);
    padding: var(--universal-padding);
}

table th span {
    color: var(--accent-font-color) !important;
}

table td {
    position: relative;
    border-right: var(--border-color) solid 2px;
    border-bottom: var(--border-color) solid 2px;
    padding: var(--universal-padding);
}

th:hover {
    transition: var(--universal-transition-time);
    filter: var(--hover-brightness);
}

table td:last-child,
th:last-child {
    border-right: none;
    border-right: none;
}

table tr:last-child>td {
    border-bottom: none;
}

iframe {
    border: none;
}