@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0');
/*
    POST-RENDER CLASSES

    .s-w16 {}
*/

/*
    ROOT
*/

:root {
    --body-margin: 16px;
    --universal-padding: 16px;

    --universal-transition-time: all 0.25s;
    --hover-brightness: brightness(110%);
    --click-brightness: brightness(90%);
    --highlight-color: #7381d1;

    --background-color: white;
    --corner-radius: 8px;
    --component-margin: 16px;

    --border-style: solid;
    --border-color: #e0e0e0;

    --shadow-color: #808080;
    --accent-color: #a3b1ff;
    --font-color: #4d4d4d;
    --icon-color: #a3b1ff;

    --slider-height: 6px;
    --slider-knob-radius: 50%; 
    --slider-knob-height: 14px;

    --card-shadow: var(--shadow-color) 0px 0px 6px;

    background-color: var(--background-color);
    font-family: 'Roboto Flex';
    color: var(--font-color);

    transition: var(--universal-transition-time);
}

::selection {
    background-color: var(--highlight-color);
    color: var(--background-color);
}

body {
    margin: var(--body-margin);   
    transition: var(--universal-transition-time);
    opacity: 0;
}

/* TEXT */
.icon {
    font-family: 'Material Symbols Rounded';
    color: var(--icon-color);
}

/* SIZE/POSITION */

.float-container {
    float: left;
}

.no-float {
    float: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex-container {
    display: flex;
    text-align: center;
    align-items: center;
}

.flex-container > div {
    margin: 0;
    box-shadow: none;
}

.flex-container > div > div {
    margin: 0;
    box-shadow: none;
    padding: 0;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.half-height {
    height: 49%;
}

.flex-4 {
    flex: 4;
}

.w1280 {
    width: 1280px;
}

.w1024 {
    width: 1024px;
}

.w768 {
    width: 768px;
}

.w512 {
    width: 512px;
}

.w256 {
    width: 256px;
}

.w128 {
    width: 128px;
}

.w64 {
    width: 64px;
}

.h1024 {
    height: 1024px;
}

.h768 {
    height: 768px;
}

.h512 {
    height: 512px;
}

.h256 {
    height: 256px;
}

.h128 {
    height: 128px;
}

.h64 {
    height: 64px;
}

.no-margin {
    margin: 0;
}

.no-right-margin {
    margin-right: 0;
}

.no-left-margin {
    margin-left: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-padding {
    padding: 0;
}

/* THEMING */

.accent-1 {
    background-color: var(--accent-color);
}

.accent-2 {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.no-shadow {
    box-shadow: none;
}

.header {
    font-weight: 700;   
}

.default-color {
    color: var(--font-color);
}

/* TABLES */

table {
    box-shadow: var(--card-shadow);
    border-radius: var(--corner-radius);
    margin-bottom: var(--component-margin);
    margin-right: var(--component-margin);

    border-collapse: collapse;
    overflow: hidden;
}

table tr:nth-of-type(1) > th {
    background-color: var(--accent-color);
    padding: var(--universal-padding);
}

table th{
    background-color: var(--border-color);
    border-color: var(--background-color);
    padding: var(--universal-padding);
}

table td {
    border-right: var(--border-color) solid 2px;
    border-bottom: var(--border-color) solid 2px;
    padding: var(--universal-padding);
}

th:hover {
    transition: var(--universal-transition-time);
    filter: var(--hover-brightness);
}

table td:last-child, th:last-child{
    border-right: none;
    border-right: none;
}

table tr:last-child > td{
    border-bottom: none;
}

/* INPUTS */

input {
    transition: var(--universal-transition-time);
}

input:hover {
    filter: var(--hover-brightness);
}

input[type="text"] {
    border-radius: var(--corner-radius);
    border-style: var(--border-style);

    border-color: var(--border-color);
    color: var(--font-color);

    padding: calc(var(--universal-padding) / 2) var(--universal-padding) calc(var(--universal-padding) / 2) var(--universal-padding);
} 

input[type="text"]:active, input[type="text"]:focus {
    outline: none;
    border-color: var(--accent-color);
}

input[type="range"] {
    appearance: none;

    height: var(--slider-height);
    border-radius: var(--corner-radius);
    background-color: var(--accent-color);

    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    height: var(--slider-knob-height);
    width: var(--slider-knob-height);

    border-radius: var(--slider-knob-radius);
    background: var(--accent-color);
    
    cursor: ew-resize;
}

input[type="range"]:active {
    filter: var(--click-brightness);
}

/* BUTTONS */

button {
    background-color: var(--background-color);
    color: var(--accent-color);

    border-color: var(--accent-color);
    border-style: var(--border-style);
    border-radius: var(--corner-radius);

    padding: calc(var(--universal-padding) / 2) var(--universal-padding) calc(var(--universal-padding) / 2) var(--universal-padding);

    user-select: none;
    cursor: pointer;

    margin-bottom: var(--component-margin);
    margin-right: var(--component-margin);

    transition: var(--universal-transition-time);
}

button:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

button:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    filter: var(--click-brightness);
}

button[variant="solid"] {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: var(--card-shadow);
}

button[variant="solid"]:hover {
    filter: var(--hover-brightness);
}

button[variant="solid"]:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    filter: var(--click-brightness);
}

/* IMAGE CARD */

img {
    border-radius: var(--corner-radius);
    box-shadow: var(--card-shadow);
    margin-right: var(--component-margin);
    margin-bottom: var(--component-margin);
}

/* DIVS */

div {
    box-shadow: var(--card-shadow);
    border-radius: var(--corner-radius);
    padding: var(--universal-padding);

    margin-bottom: var(--component-margin);
    margin-right: var(--component-margin);
}